<h2><b>Change Administrator Password</b></h2>
<p />
It is required that you change the admin password the first time that you log in.
<p />
<form>
  Password *: <input type="password" name="new_password" /><br>
  Confirm Password *: <input type="password" name="confirm_password" /><br>
  <!-- button type="button" class="btn btn-primary">Change Password</button -->
  <input type="submit" value="Change Password" />
</form>
