Welcome to <b>ForemanPasswordPrompt</b>
<p />
<form>
  New Password: <input type="password" name="new_password" /><br>
  Confirm Password: <input type="password" name="confirm_password" /><br>
  <input type="submit" value="Submit" />
</form>
